<div class="flex-container row" id={{gameid}}>
    <div class="flexbox invisibleBorder title"><p>{{name}}</p></div>
    <div class="flexbox invisibleBorder genre"><p>{{genre}}</p></div>
    <div class="flexbox invisibleBorder rating"><p>{{rating}}</p></div>
    <div class="flexbox invisibleBorder remove"><p>{{remove}}</p></div>
</div>