<div class="flex-container row" id={{gameid}}>
    <div class="flexbox invisibleBorder" id="title"><p>{{name}}</p></div>
    <div class="flexbox invisibleBorder" id="genre"><p>{{genre}}</p></div>
    <div class="flexbox invisibleBorder" id="rating"><p>{{rating}}</p></div>
    <div class="flexbox invisibleBorder" id="remove"><p>{{remove}}</p></div>
</div>